* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'monseratt', sans-serif;
}

.app {
    background-image: url('../assets/background_1.png');
    background-position: center;
    background-size: cover;
    transition: 0.4s ease-out;
}

main {
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
}

.search-box {

}

