* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'monseratt', sans-serif;
}

.app {
    background-image: url('../assets/background_2.jpg');
    background-position: center;
    background-size: cover;
    transition: 0.4s ease-out;
}

.app.background-cold {
    background-image: url('../assets/background_1.png');
}

main {
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
    padding: 25px;
}

.search-box {
    width: 100%;
    margin: 0px 0px 75px;
    display: flex;
    justify-content: center;
}

.search-box .search-bar {
    flex: 0.7;
    width: 100%;
    padding: 15px;
    font-size-adjust: initial;
    color: white;

    appearance: none;
    background: none;
    border: none;
    outline: none;

    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0px 5px rgba(255, 255, 255, 0.1);

    transition: 0.4s ease;
}

.search-box .search-bar:focus {
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0px 5px rgba(255, 255, 255, 0.2);
}

.location-box .location {
    color: #fff;
    font-size: xx-large;
    font-weight: 500;
    text-align: center;
    text-shadow: 3px 3px rgba(50, 50, 85, 0.6);
    letter-spacing: 0.15rem;
}

.location-box .date {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    text-shadow: 2.5px 1.5px rgba(50, 50, 85, 0.6);
    margin-top:5px;
    letter-spacing: 0.3rem;
}

.weather-box {
    text-align: center;
}

.weather-box .temp {
    position: relative;
    display: inline-block;
    margin:30px auto;
    border-radius: 16px;

    color: #fff;
    font-size: 5em;
    font-weight: 700;
    text-shadow: 3px 6px rgba(50, 50, 70, 0.5);

    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0px 5px rgba(255, 255, 255, 0.1);
    padding: 10px;
}

.weather-box .weather {
    color: #fff;
    font-size: 2.5em;
    font-weight: 600;
    text-shadow: 2.5px 1.5px rgba(50, 50, 70, 0.6);
}